.div1{
    text-align: center;
    background-color: #758FAF;
    border: 2px solid #08102b;
    margin: 20px;
    padding: 20px;
    font-size: xx-large;

}
body{background-color:#526C8F;}

.div2{
    text-align:justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;

}

.foto {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url('./img/Farinha.jpg');
    background-position: center;
    background-size: cover;
}
 a:link{
    color:#9cbae4;
    background-color: transparent;
    text-decoration: none;
}
  
  a:hover {
    color: #c3d6f1;
    background-color: transparent;
    text-decoration: underline;
  }

.div3{
    text-align: center;
    font-family:'Gill Sans';
    font-style:normal;
    font-size:xx-large;
    color: rgb(12, 35, 79);

}

.cit {
    background-color: white;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;}

    *{padding: 23px;;}

    a {text-decoration: none;}

.btn {
    text-align: center;
    background-image: url('./img/Linkedin.png');
    background-size: cover;
    background-position: center; 
    display: inline-block; 
    border: none; 
    padding: 20px; 
    width: 70px; 
    border-radius: 10px; 
    height: 70px; 
    transition: all 0.5s; 
    cursor: pointer;}

.btn:hover{ width: 75px; height: 75px;}

.btn2 {
    text-align: center;
    background-image: url('./img/Instagram.png');
    background-size: cover;
    background-position: center; 
    display: inline-block; 
    border: none; 
    padding: 20px; 
    width: 70px; 
    border-radius: 10px; 
    height: 70px; 
    transition: all 0.5s; 
    cursor: pointer;}

.btn2:hover{ width: 75px; height: 75px;}

.btn3 {
    text-align: center;
    background-image: url('./img/github.jpg');
    background-size: cover;
    background-position: center; 
    display: inline-block; 
    border: none; 
    padding: 20px; 
    width: 70px; 
    border-radius: 10px; 
    height: 70px; 
    transition: all 0.5s; 
    cursor: pointer;}

.btn2:hover{ width: 75px; height: 75px;}